# Python cache
__pycache__/
*.py[cod]
*$py.class

# Exclude all files in data/raw except .gitkeep
data/raw/*
!data/raw/.gitkeep

# Exclude temp folder completely
temp/

# Exclude all files in models except .gitkeep
models/*
!models/.gitkeep

# Environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.vs/
*.suo
*.user
*.userossc
*.sln
*.docstates
